@import url('../../../styles.scss');
.navbar{
    // background-color: $lightBgColor;
    background-color: rgba(2, 19, 30, 0.922);
    .nav-link{
        color: #fff;
    }
    i{
        color: #fff;
        margin: 10px;
    }
}