<nav class="navbar navbar-expand navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Noxe</a>
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="movies">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="tvshows">TvShows</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="people">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="networks">Networks</a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <li *ngIf="!showMenu" class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li *ngIf="!showMenu" class="nav-item">
                <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li *ngIf="showMenu" class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
        
    </div>
</nav>